<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" name="XMLConfigTest" packages="newWordsBot">

    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="ConsoleAppender">
            <Layout type="PatternLayout">
                <Pattern>%d %p\t[%c{1}] %m%n</Pattern>
            </Layout>
        </Appender>
        <Appender type="RollingFile" name="FileAppender" filePattern="logs/log-%d{yyyy-MM-dd}">
            <Layout type="PatternLayout">
                <Pattern>%d %p\t[%c{1}] %m%n</Pattern>
            </Layout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </Appender>
    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>

</Configuration>